html {
    font-family: 'Courier New', Courier, monospace;
    background-color: black;
}

.test13startmenuimg {
    width: 75%;
    position: relative;
    bottom: 0px;
    left: -75px;
}

.header {
    font-weight: bold;
    font-size: 36px;
    color: white;
    position: relative;
    margin-top: 50px;
    margin-left: 50px;
}

.newgame {
    color: white;
    font-size: 30px;
    font-weight: bold;
    float: right;
    margin-right: 60px;
    margin-top: 400px;
    padding: 5px;
    position: relative;
}

.newgame:hover {
    background-color: grey;
    cursor: pointer;
}

.optionsbutton {
    color: white;
    font-size: 30px;
    font-weight: bold;
    float: right;
    margin-right: -155px;
    margin-top: 450px;
    padding: 5px;
}

.optionsbutton:hover {
    background-color: grey;
    cursor: pointer;
}

.optionsmodal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

.optionsmodalcontent {
    background-color: #000000;
    margin: 15% auto;
    padding: 20px;
    border: 5px solid #fff;
    border-radius: 5px;
    width: 50%;
    color: #fff; 
}

.placeholder {
    background-color: #333;
    width: 20%;
    padding: 5px;
    text-align: center;
    display: inline-block;
}

.placeholder:hover {
    background-color: #888;
}

.resetgame {
    background-color: #333;
    width: 20%;
    padding: 5px;
    text-align: center;
    display: inline-block;
}

.resetgame:hover {
    background-color: #888;
    cursor: context-menu;
}

.titlesetdateanimationbox {
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
}

.titlesetdateanimationheader {
    color: grey;
    font-weight: bold;
    font-size: 24px;
    font-family: 'Arial Black';
    margin-top: 10%;
}

.titlesetdateanimation {
    position: absolute;
    top: 50%;
    display: none;
    height: 150px;
    width: 99%;
    justify-content: center;
    color: black;
    font-size: 96px;
    text-align: center;
}

.titlesetdateanimationday1 {
    width: 6%;
    height: 100px;
    border-color: white;
    border-width: 3px;
    margin: 8px 8px 8px 0px;
    background-color: white;
    color: black;
    font-size: 96px;
    text-align: center;
}

.titlesetdateanimationday2 {
    width: 6%;
    height: 100px;
    border-color: white;
    border-width: 3px;
    margin: 8px 15px 8px 8px;
    background-color: white;
    color: black;
    font-size: 96px;
    text-align: center;
}

.titlesetdateanimationmonth1 {
    width: 6%;
    height: 100px;
    border-color: white;
    border-width: 3px;
    margin: 8px;
    background-color: white;
    color: black;
    font-size: 96px;
    text-align: center;
}

.titlesetdateanimationmonth2 {
    width: 6%;
    height: 100px;
    border-color: white;
    border-width: 3px;
    margin: 8px 15px 8px 8px;
    background-color: white;
    color: black;
    font-size: 96px;
    text-align: center;
}

.titlesetdateanimationyear {
    width: 6%;
    height: 100px;
    border-color: white;
    border-width: 3px;
    margin: 8px;
    background-color: white;
    color: black;
    font-size: 96px;
    text-align: center;
}

.titlesetdateanimationhour {
    width: 6%;
    height: 100px;
    border-color: white;
    border-width: 3px;
    margin: 8px 15px 8px 20px;
    background-color: white;
    color: black;
    font-size: 96px;
    text-align: center;
}

.titlesetdateanimationminute1 {
    width: 6%;
    height: 100px;
    border-color: white;
    border-width: 3px;
    margin: 8px;
    background-color: white;
    color: black;
    font-size: 96px;
    text-align: center;
}

.titlesetdateanimationminute2 {
    width: 6%;
    height: 100px;
    border-color: white;
    border-width: 3px;
    margin: 8px 15px 8px 8px;
    background-color: white;
    color: black;
    font-size: 96px;
    text-align: center;
}

.titlesetdateanimationsecond1 {
    width: 6%;
    height: 100px;
    border-color: white;
    border-width: 3px;
    margin: 8px;
    background-color: white;
    color: black;
    font-size: 96px;
    text-align: center;
}

.titlesetdateanimationsecond2 {
    width: 6%;
    height: 100px;
    border-color: white;
    border-width: 3px;
    margin: 8px 0px 8px 8px;
    background-color: white;
    color: black;
    font-size: 96px;
    text-align: center;
}

.startnewgameimagebox {
    display: none;
    width: 400px;
    height: 400px;
    position: relative;
    top: 200px;
    left: 40%;
}

.tutorialbox {
    background-color: #FEFE33;
    border-color: #4424D6;
    color: #C21460;
    font-size: 36px;
    border-radius: 15px;
    border-width: 15px;
    border-style: ridge;
    position: relative;
    left: 10%;
    top: 50px;
    width: 80%;
    height: 500px;
    display: none;
}

.tutorialboxwords {
    color: #C21460;
    font-weight: bold;
    font-size: 36px;
    display: none;
    z-index: 2;
    padding: 5px;
    text-align: justify;
}

.answertutorial0 {
    border-radius: 10px;
    border-width: 10px;
    color: orange;
    background-color: white;
    border-color: orange;
    border: solid;
    font-weight: bold;
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: absolute;
    left: 45%;
    top: 80%;
    padding: 5px;
    width: 10%;
    display: none;
}

.answertutorial1 {
    border-radius: 10px;
    border-width: 15px;
    color: orange;
    background-color: white;
    border-color: orange;
    border: solid;
    font-weight: bold;
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: absolute;
    left: 28%;
    top: 80%;
    padding: 5px;
    width: 10%;
    display: none;
}

.answertutorial2 {
    border-radius: 10px;
    border-width: 15px;
    color: orange;
    background-color: white;
    border-color: orange;
    border: solid;
    font-weight: bold;
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: absolute;
    left: 61%;
    top: 80%;
    padding: 5px;
    width: 10%;
    display: none;
}

.answertutorial3 {
    border-radius: 10px;
    border-width: 10px;
    color: orange;
    background-color: white;
    border-color: orange;
    border: solid;
    font-weight: bold;
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: absolute;
    left: 45%;
    top: 80%;
    padding: 5px;
    width: 10%;
    display: none;
}
